{% extends 'litterarum/main.html' %}
{% load static %}
{% block content %}
<section class="padding"> <a> </a>  </section>
     <!-- HOME SECTION -->
<div class="home-container">

     <section class="home" id="home">
 
         <div class="row">
     
             <div class="content">
                 <h3>Welcome!</h3>
                 <p>Welcome to Pulp! We offer a vast collection of books from various genres, including classic and contemporary novels, children's books, and non-fiction titles on history, science, and art.
                 </p>
                 <a href="{% url 'store' %}" class="btn">shop now</a>
             </div>

             <br>
     
             <div class="swiper books-slider">
                <div class="swiper-wrapper">
                  <a href="{% url 'store' %}" class="swiper-slide"><img src="{% static 'images/book-11.png' %}" alt=""></a>
                  <a href="{% url 'store' %}" class="swiper-slide"><img src="{% static 'images/book-12.png' %}" alt=""></a>
                  <a href="{% url 'store' %}" class="swiper-slide"><img src="{% static 'images/book-13.png' %}" alt=""></a>
                  <a href="{% url 'store' %}" class="swiper-slide"><img src="{% static 'images/book-14.png' %}" alt=""></a>
                  <a href="{% url 'store' %}" class="swiper-slide"><img src="{% static 'images/book-15.png' %}" alt=""></a>
                </div>
                <img src="{% static 'images/stand.png' %}" class="stand" alt="">
              </div>
 
             </div>
     
         </div>
     
     </section>
 
 </div>

<br>
<br>

 <!-- ARRIVALS SECTION  -->
<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>new this month</span> </h1>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a href="" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-1.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>The Chimes of Winter</h3>
                    <h4>by Daniel Nguyen</h4>
                    <div class="price">$10.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-2.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>The Midnight Garden</h3>
                    <h4>by Emma Bailey</h4>
                    <div class="price">$6.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-3.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>The Lost City of Aria</h3>
                    <h4>by Samuel Cole</h4>
                    <div class="price">$15.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-4.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Echoes of the Forgotten</h3>
                    <h4>by Laura Michaels</h4>
                    <div class="price">$12.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-5.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Shadow of the Mountain</h3>
                    <h4>by David Stone</h4>
                    <div class="price">$4.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </a>

        </div>

    </div>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-6.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Blue Door</h3>
                    <h4>by Daniel Nguyen</h4>
                    <div class="price">$16.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-7.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Laugh</h3>
                    <h4>by Michael Chen</h4>
                    <div class="price">$7.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-8.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Whispering Trees</h3>
                    <h4>by Claire Williams</h4>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-9.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Ivory Tower</h3>
                    <h4>by Elizabeth Lee</h4>
                    <div class="price">$13.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'images/book-10.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>The Secret Life of Beeswax</h3>
                    <h4>by Rachel Lancaster</h4>
                    <div class="price">$30.99 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<br>
<br>
<br>

<!-- NEWSLETTER SECTION -->
<div class="newsletter-container">

    <section class="newsletter">

        <form action="">
            <h3>subscribe for latest updates</h3>
            <input type="email" name="" placeholder="enter your email" id="" class="box">
            <input type="submit" value="subscribe" class="btn">
        </form>
    
    </section>

</div>


<!-- SERVICES  -->
<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free shipping</h3>
            <p>orders over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>

<br>
<br>

<!-- DEAL SECTION  -->
<div class="deal-container">

    <section class="deal">

        <div class="content">
            <h3>deal of the day</h3>
            <h1>up to 50% off</h1>
            <p>Check out today's featured book in our "Deal of the Day" section! 
                This title is available at an unbeatable discount for 24 hours only, so act fast to secure your copy. 
                Add it to your cart and checkout before the deal expires to save big on this must-read title. 
                Don't miss out on this limited-time offer - grab your discounted copy now!</p>
            <a href="{% url 'store' %}" class="btn">get this</a>
        </div>
    
        <div class="image">
            
            <img src="{% static 'images/book-sale.png' %}" alt="">
        </div>
    
    </section>
    
    
</div>

<br>
<br>

<!-- FEATURED SECTION -->
<section class="featured" id="featured">

    <h1 class="heading"> <span>featured books</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="icons">
                
                    <a class="fas fa-cart-plus update-cart"></a>
                    
                </div>
                <div class="image">
                    <img src="{% static 'images/book-16.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Create Your Own Business</h3>
                    <div class="price">$7.99 <span>$10.99</span></div>
                   
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    
                    <a class="fas fa-cart-plus update-cart"></a>
                 
                </div>
                <div class="image">
                    <img src="{% static 'images/book-17.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Public Relations</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                   
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    
                    <a class="fas fa-cart-plus update-cart"></a>
                </div>
                <div class="image">
                    <img src="{% static 'images/book-18.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>We are Business</h3>
                    <div class="price">$4.99 <span>$8.99</span></div>
                    
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    
                    <a class="fas fa-cart-plus update-cart"></a>
                </div>
                <div class="image">
                    <img src="{% static 'images/book-19.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Beverages History</h3>
                    <div class="price">$20.99 <span>$27.99</span></div>
                  
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    
                    <a class="fas fa-cart-plus update-cart"></a>
                </div>
                <div class="image">
                    <img src="{% static 'images/book-20.png' %}" alt="">
                </div>
                <div class="content">
                    <h3>Ashen Ones</h3>
                    <div class="price">$6.99 <span>$14.99</span></div>
                    
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


    </div>

</section>

<br>
<br>


<!-- FOOTER  -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>contact info</h3>
            <a href="tel:+15551234567"> <i class="fas fa-phone"></i> +1 555-123-4567 </a>
            <a href="tel:+15559876543"> <i class="fas fa-phone"></i> +1 555-987-6543 </a>

            <a href="" class="lowercase"> <i class="fas fa-envelope"></i> thebugged@gmail.com </a>
            
        </div>
        
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>

    <div class="credit" class="lowercase">  <span> thebugged </span> | images by <a href="https://www.freepik.com/">Freepik</a> </div>

</section>


{% endblock content %}



