<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Online Bookstore | Litterarum®</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/books.png' %}">
    

    <!-- Links to External Stylesheets-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
        
		var csrftoken = getToken('csrftoken')

        function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}

		var cart = JSON.parse(getCookie('cart'))
        if (cart == undefined){
			cart = {}
			console.log('Cart Created!')
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}


        console.log('Cart: ', cart)

    </script>


 
</head>


<body>

    <!-- HEADER -->
<header class="header">

    <section class="header-1">

        <!-- <a href="#" class="logo"> <i class="fas fa-book"></i> Litterarum </a> -->
        <a href="{% url 'home' %}" class="logo"> Litterarum </a>

        {% block search %}
        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        {% endblock %}


        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <!-- <a href="#" class="fas fa-heart" title="Wishlist"></a> -->
            
            <a href="{% url 'cart' %}" class="fas fa-shopping-cart" title="Cart"><p id="cart-total">{{cartItems}}</p></a>
            
            <!-- <div id="login-btn" class="fas fa-user" title="Sign-in/Register"></div> -->
        </div>

    </section>

    <div class="header-2">
        <nav class="navbar">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'store' %}">books</a>
        </nav>
    </div>

</header>


         <div class="container">
                <br>
                {% block content %}


                 {% endblock content %}
         </div>



<!-- LOADER 
<div class="loader-container">
    <img src="{% static 'images/loader-img.gif' %}" alt="">
</div>

 -->

<!-- SCRIPTS -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

<script>
      
  var swiper = new Swiper(".books-slider", {
    loop: true,
    centeredSlides: true,
    autoplay: {
      delay: 9500,
      disableOnInteraction: false,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      480: {
        slidesPerView: 2,
      },
      560: {
        slidesPerView: 2,
      },
      700: {
        slidesPerView: 3,
      },
      912: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 3,
      },
    },
  });
  
       
      var swiper = new Swiper(".featured-slider", {
        spaceBetween: 40,
        loop:true,
        centeredSlides: true,
        autoplay: {
          delay: 20000,
          disableOnInteraction: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
          
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          450: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 3,
          },
          1024: {
            slidesPerView: 4,
          },
        },
      });
      
      
      var swiper = new Swiper(".arrivals-slider", {
        spaceBetween: 10,
        loop:true,
        centeredSlides: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
         
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        },
      });
      
      
</script>


</body>
</html>
