{% extends 'litterarum/main.html' %}
{% load static %}
{% block content %}
<section class="padding"> <a> </a>  </section>
     <section class="books" id="books">
          <h1 class="heading"> <span> Books </span> </h1>
<br>
         

     <div class="grid-container">
          
          {% for product in products %}
         <div class="grid-item">
             <div class="icons">
                 <a data-product ={{product.id}} data-action ="add" class="fas fa-cart-plus update-cart"></a>
             </div>
             
             <div class="image">
                 <img src="{{product.imageURL}}" alt="">
             </div>
             <div class="content">
                 <p>{{product.name}}</p>
                 <div class="author">by {{product.author}}</div>
                 <div class="price">${{product.price|floatformat:2}} </div>

             </div>
             
         </div>
         {% endfor %}

     </div>

</section>
{% endblock content %}