@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --gold: #FFD700;
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear; 
    transition:width none;
}



/* General */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

h2{
    font-weight: 300;
}


h3{
    font-weight: 300;
}

hr {
    height: 1px;
    border: none;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
	font-size: 13px;
}

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

strong {
	font-size: 15px;
}

.box-element{
	width: 100%;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
}

.box-element .box {
	display: block;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--black);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.hidden{
	display: none!important;
}

.lowercase {
    text-transform: lowercase;
  }

.padding{
    padding-top: 130px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	padding-right: 15px;
    padding-left: 15px;
}

.row-image{
	width: 100px;
}

.shop-btn{
	margin-top: 1rem;
    display:inline-block;
    padding:.7rem 2rem;
    border-radius: .4rem;
    color:#fff;
    background:var(--light-color);
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 300;
}

.shop-btn:hover{
    background:var(--dark-color);
}

.swiper-button-next,
.swiper-button-prev {
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background: #fff;
  opacity: 0.3; /* set the opacity to 50% */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--dark-color);
  color: #fff;
  opacity: 1; /* set the opacity to 100% on hover */
}



/* Main.html */
#search-btn{
    display: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
}

.header .header-1{
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 3.0rem;
    font-weight: thin;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--black);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

.header .header-2{
    background:var(--black);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
    user-select: none;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
}

.login-form-container form p a:hover{
    color: var(--black);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}



/* Home.html */
/* home */
.home-container {
	background: url("/static/images/banner-bg.png") no-repeat;
	background-size: cover;
	background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

/* .home .row .books-slider a:hover img{
    transform: scale(.9);
} */

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

/* arrivals*/
.arrivals .heading{
    font-weight: 200;
    font-size: 1.0rem;
    text-align: left;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 1.5rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content h4{
    font-size: 1.0rem;
    color:var(--dark-color);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 1.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.0rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--gold);
}

/* newsletter */
.newsletter-container {
	background: url("/static/images/letter-bg.jpeg") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 2rem;
  }
  

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

/* services */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--black);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

/* deal */
.deal-container{
    background:#f3f3f3;
    padding: 3rem 0;
    margin-bottom: 2rem;
}

.deal{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--black);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* featured */
.featured .heading{

    font-weight: 200;
    font-size: 1.0rem;
    text-align: left;
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.5rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}



/* footer */
.footer{
    background-color: var(--black);
    width: 100%;
  
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:white;
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--black);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--light-color);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color:white;
    text-align: left;
    /* padding-bottom: 10rem; */
}

.footer .credit span{
    color:white
}




/* Store.html */
.books .heading{
    font-weight: 200;
    font-size: 0.5rem;
    text-align: center;
   
}

.books .grid-container {
    display: grid;
    grid-gap: 2rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.books .grid-item {
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.books .grid-item:hover {
    border: var(--border-hover);
}

.books .grid-item .image {
    
	padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.books .grid-item:hover .image {
    transform: translateY(-1rem);
}

.books .grid-item .image img {
    height: 25rem;
}

.books .grid-item .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.books .grid-item:hover .icons {
    transform: translateY(0%);
}

.books .grid-item .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.books .grid-item .icons a:hover {
    background: var(--dark-color);
    color: #fff;
}

.books .grid-item .content {
    background: #eee;
    padding: 1.5rem;
}

.books .grid-item .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.books .grid-item .content .author {
    font-size: 1.6rem;
    color: var(--light-color);
    margin-top: 0.5rem;
}

.books .grid-item .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.books .grid-item .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}



/* Cart.html */
#cart-total{
	display: inline;
	text-align: center;
	color:#1b1b1b;
	width: 20px;
	height: 25px;
	font-size: 14px;
}

.cartheading{

    font-size: 30px !important;
    font-weight: 300 !important;
    text-align: left;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	margin-top: 5px;
	transition:.1s;

/* display: block
top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
*/
}

.chg-quantity:hover{
	opacity: .6;
}

.custom-table {
	border-collapse: collapse;
	width: 100%;
}
  
.custom-table th, .custom-table td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
.custom-table th {
	background-color: #f2f2f2;
	color: #333;
	font-weight: bold;
}
  
.custom-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}
  
.custom-table tbody tr:hover {
	background-color: #f5f5f5;
}

.quantity{
	display: inline-block;
	position: relative;
	font-weight: 700;
	padding-right:10px;
}



/* Checkout.html */
.checkoutheading{
    font-size: 30px !important;
    font-weight: 300 !important;
    text-align: left;
}

.form-btn {
	width: auto;
	box-sizing: border-box;
	margin-top: 1rem;
    display:inline-block;
    padding:.7rem 2rem;
    border-radius: .4rem;
    color:#fff;
    background:var(--light-color);
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 300;
  }

.form-btn:hover{
    background:var(--dark-color);
}

.form-field{
	width: 250px;;
	display: inline-block;
	padding: 5px;
}



  


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:767px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

    .books .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .books .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
     
}

@media (min-width: 768px) {
	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
		border: 1px solid rgb(255, 255, 255); /* added border property */
		padding: 10px; /* added padding property */
	  }
  }